
.vs/RomanDecoder/DesignTimeBuild/

.vs/RomanDecoder/v17/

RomanDecoder/bin/Debug/netcoreapp3.1/

RomanDecoder/obj/Debug/netcoreapp3.1/

RomanDecoder/obj/

UnitTest/bin/Debug/netcoreapp3.1/cs/

UnitTest/bin/Debug/netcoreapp3.1/de/

UnitTest/bin/Debug/netcoreapp3.1/es/

UnitTest/bin/Debug/netcoreapp3.1/fr/

UnitTest/bin/Debug/netcoreapp3.1/it/

UnitTest/bin/Debug/netcoreapp3.1/ja/

UnitTest/obj/

UnitTest/bin/Debug/netcoreapp3.1/zh-Hant/

UnitTest/bin/Debug/netcoreapp3.1/zh-Hans/

UnitTest/bin/Debug/netcoreapp3.1/
